---
import Content from "../../../components/content.astro";
---

<Content title="아이처럼 AI를 생각하기" description="AI에겐 데이터가 얼마나 중요한가?" date={1730809718} isnews={false}>
  <p>인공지능은 공감 능력이 없다고 여겨지는 경우가 많습니다.</p>
  <p>이 믿음은 현재 모델들이 낮은 수준의 공감을 보인다는 관찰에서 비롯되곤 합니다.</p>
  <p>또한, 윤리적으로 문제를 겪고 있기 때문에 이러한 관점이 강화됩니다.</p>
  <p>이 문제의 이유 중 하나는 더 큰 데이터셋이 무조건 AI 성능을 향상시킨다는 생각에서 비롯됩니다.</p>
  <p>하지만 그렇지 않습니다. 데이터의 양만 중요한 것이 아니라, <strong>품질</strong>도 중요합니다.</p>

  <h1>그렇다면 무엇에 집중해야 할까요?</h1>
  <p>우리는 데이터의 크기만이 아니라, <strong>품질</strong>에 집중해야 합니다.</p>
  <p>AI를 아이로 생각하면, 데이터는 그 아이의 선생님입니다.</p>
  <p>선생님은 모든 것을 가르치지 않습니다.</p>
  <p>하지만 우리는 AI에게 진위 여부를 확인하지 않고 모든 것을 가르칩니다.</p>
  <p>좋은 선생님은 신중하게 수업을 선택하는 것처럼, 우리는 AI에게 제공하는 데이터를 선별해야 합니다.</p>

  <h1>실제 사례</h1>
  <p>
    <a href="https://hackernoon.com/testing-the-depths-of-ai-empathy-q1-2024-benchmarks">감정 점수 분석</a>에 따르면,
    GPT-3.5를 기반으로 한 Willow가 GPT-4보다 더 높은 점수를 기록했습니다.
  </p>
  <p>명확히, 크기만으로는 모든 것이 해결되지 않습니다.</p>

  <h1>결론</h1>
  <p>우리가 AI를 키우는 부모입니다.</p>
  <p>이 역할은 큰 책임을 동반합니다.</p>
  <p>우리는 AI를 현명하게 길러야 합니다.</p>
  <p>우리가 무엇을 가르치느냐가 AI가 어떤 존재로 성장할지를 결정합니다.</p>
</Content>

