---
import Base from "../../../components/base.astro"
import { DataType } from "../../../components/lib"
import Post from "../../../components/post.astro"

import { isMobileOnly } from "mobile-device-detect"
---

<Base>
  <Fragment name="head">
    <title>Blog</title>
  </Fragment>
  <div class="flex flex-col justify-center items-center w-full h-screen gap-y-4">
    <div class="border-solid border-2 border-black">
      <h1 class="font-bold sm:font-normal sm:text-4xl xl:text-5xl">{isMobileOnly?"클릭해서":"마우스를 위로 올려서"} 제목을 볼 수 있습니다</h1>
      <h1 class="font-bold sm:font-normal sm:text-4xl xl:text-5xl">en version is <a href="/en/blog" class="text-blue">here</a></h1>
      <h2 class="sm:text-3xl">마우스를 위로 올려서 되지 않는다면, 클릭을 해보세요.</h2>
    </div>
    <Post title="리누스, 저는 다른 의견입니다." description="오픈 소스는 정치와 관련되지 않아야 합니다." path={2} type={DataType.blog} lang='ko'/>
    <Post title="'비밀번호 제한'은 실패했다." description="그리고 그것을 미국이 인정했다." path={1} type={DataType.blog} lang='ko'/>
  </div>
</Base>
