<head>
  <meta http-equiv="onion-location" content="http://2vbh4msbvvbzo6wlzzsj3zeztjbh4fubh6h2lhqdh5xgpjs2hs7js2yd.onion/schale" />
  <link href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet">
  <style is:global>
    * {font-family: 'SUIT Variable', sans-serif;}
  </style>
</head>
<body>
  <slot />
</body>