[submodule "libraries/misilelib/misilelib-c"]
	path = libraries/misilelib/misilelib-c
	url = https://gith.misilelaboratory.xyz/misilelib.git:/misilelib-c.git
[submodule "libraries/misilelib/misilelib-python"]
	path = libraries/misilelib/misilelib-python
	url = https://gith.misilelaboratory.xyz/misilelib.git:/misilelib-python.git
[submodule "projects/space-lang"]
	path = projects/space-lang
	url = https://github.com/misilelab/space-lang
