# Custom
dragonpang

# Python
__pycache__/
lib/
lib64/
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
venv/
config.json
.vscode
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# .NET
.idea
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# C
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Kotlin / Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
.project
.classpath

# Rust.gitignore by ignofierplus
debug/
target/
Cargo.lock
**/*.rs.bk
*.mrpack
# Lua.gitignore by ignofierplus
luac.out
*.src.rock
*.os
*.def
