# Python
__pycache__/
*.so
lib/
lib64/
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
venv/
config.json
.vscode
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# .NET
.idea
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
