[submodule "libraries/misilelib/misilelib-c"]
	path = libraries/misilelib/misilelib-c
	url = https://gith.misilelaboratory.xyz/misilelib.git:/misilelib-c.git
[submodule "libraries/misilelib/misilelib-python"]
	path = libraries/misilelib/misilelib-python
	url = https://gith.misilelaboratory.xyz/misilelib.git:/misilelib-python.git
[submodule "modpacks/basemodpack"]
	path = modpacks/basemodpack
	url = https://gith.misilelaboratory.xyz/additiveplus.git:/versions/fabric/1.19.3.git
[submodule "docs"]
	path = docs
	url = https://gith.misilelaboratory.xyz/h3-marp.git:/docs.git
