---
import Head from "../components/head.astro";
---

<Head>
  <script>
    import { queryId } from "@misile/satellite";
    import statusCheck, { backendurl, host } from "../config";
    async function registerCallback() {
      let r = await fetch(`${backendurl}/check/${(queryId("id") as HTMLInputElement).value}`);
      if (statusCheck(r)) return;
      if (await r.text() === "true") {
        alert('name is in use')
        return;
      }
      r = await fetch(`${backendurl}/register`, {
        headers: {
          id: (queryId("id") as HTMLInputElement).value,
          pw: (queryId("pw") as HTMLInputElement).value
        },
        method: "POST"
      });
      if (statusCheck(r)) return;
      alert(`${(queryId("id") as HTMLInputElement).value} registered`)
      window.location.href=`${host}/login?redirect=${new URL(document.location.toString()).searchParams.get("redirect")}`
    }
    queryId("register").addEventListener("click", registerCallback)
  </script>
  <div class="bg-ctp-crust w-screen h-screen flex flex-col justify-center items-center">
    <title>schale/register</title>
    <div class="bg-ctp-mantle w-fit h-fit flex flex-col py-12">
      <div class="w-full h-full gap-8 flex px-4 md:px-16 justify-center flex-col text-ctp-text">
        <h1 class="font-bold text-2xl md:text-3xl">Without tracker, <span class="text-transparent bg-clip-text bg-gradient-to-br from-ctp-sky to-ctp-mauve">with privacy</span></h1>
        <input type="text" placeholder="id" class="border-ctp-overlay0 border-2 border-solid bg-ctp-mantle placeholder:text-ctp-text pl-1" id="id" />
        <input type="password" placeholder="password" class="border-ctp-overlay0 border-2 border-solid bg-ctp-mantle placeholder:text-ctp-text pl-1" id="pw" />
        <button class="border-ctp-overlay0 border-2 w-full" id="register">Register</button>
      </div>
    </div>
  </div>
</Head>

