<html>
  <head>
    <script>
      addEventListener("DOMContentLoaded", ()=>{
        location.href = location.origin + "/pages/1";
      });
    </script>
  </head>
</html>

<body>
we're going redirect
</body>
