---
import Base from "../../components/base.astro"
import { DataType } from "../../components/lib"
import Post from "../../components/post.astro"
---

<Base>
  <Fragment name="head">
    <title>Blog</title>
  </Fragment>
  <div class="flex flex-col justify-center w-full h-screen pl-[10%]">
  </div>
</Base>
