@import url("https://fonts.googleapis.com/css2?family=SUITE:wght@600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-suite: SUIT;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #818181;
  --color-dimgray: #565656;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-11xs: 2px;
}
