---
import Post from "../../components/post/post.astro";
import Subtitle from "../../components/subtitle.astro";
---

<Post id={1} title="The new turning point of Blog">
  <p>Every blog exists on the internet, do same theme, has many tracker or ads (or both), I doesn't want the blog like that.</p>
  <p>This blog differently build at three points.</p>
  <Subtitle title="tor-friendly blog" />
  <p>Every blog shows captcha for tor, but i'm thinking block tor isn't good idea for privacy.</p>
  <p>This blog has no captcha, and has onion domain.</p>
  <Subtitle title="no tracker or ads" />
  <p>It has three tracker on many person's blog</p>
  <p>My blog has no, really no ads or tracker forever, I'll promise</p>
  <Subtitle title="different theme" />
  <p>I like catppuccin-mocha :sunglasses:</p>
  <Subtitle title="is it open-source?" />
  <p>yeah, <a href="https://github.com/MisileLab/h3/tree/main/projects/xml/products/zmr" class="text-ctp-blue">click this to view it</a></p>
</Post>
