---
import Post from "../../components/post/post.astro";
import Subtitle from "../../components/subtitle.astro";
---

<Post id={3} title="We're going static" createdDate={1717322083}>
  <Subtitle title="Static build powered by static-web-server" />
  <p>Static-web-server is rust static web server</p>
  <p><a href="https://github.com/static-web-server/static-web-server" class="text-ctp-blue">Github link of that project</a></p>
  <Subtitle title="I also added SatelliteJS" />
  <p>SatelliteJS is utility of controlling dom</p>
  <p>Purpose is just add NullPointerException on selecting dom element</p>
  <p>You can use it, but I don't recommend</p>
  <Subtitle title="AstroJS is rly good" />
  <p>I'm really liking AstroJS, even without island</p>
  <p>Server-Side and static build is awesome</p>
</Post>
