---
interface Props {
  currentID: number;
  path: string;
}
const {currentID, path} = Astro.props;
---

<div class="flex flex-row gap-x-4 w-full justify-center items-center">
  <a href={`/${path}/${currentID-1}`}><button class="border-ctp-overlay1 border-solid border-2 px-2">{"<-"}</button></a>
  <p>{currentID}</p>
  <a href={`/${path}/${currentID+1}`}><button class="border-ctp-overlay1 border-solid border-2 px-2">{"->"}</button></a>
</div>
