---
interface Props {
  title: string;
}
const {title} = Astro.props;
---

<head>
  <title>{title}</title>
  <link rel="sitemap" href="/sitemap-index.xml" />
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta http-equiv="onion-location" content="http://duxvudyhribkbx776i67kp6afsxrqfftkfxghnub5mgwqhpjj3nurqad.onion" />
  <style is:global>
    @font-face {
      font-family: 'Pretendard-Regular';
      src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
    }
    * {font-family: Pretendard}
  </style>
  <slot />
</head>
