---
import Base from "../components/base.astro";

interface Contacts {
  type: string;
  value: string;
  display?: string;
}

const contacts: Contacts[] = [{
  type: "Email",
  value: "misile@duck.com"
}, {
  type: "GPG Public Key",
  value: `-----BEGIN PGP PUBLIC KEY BLOCK-----
mDMEZfRmkBYJKwYBBAHaRw8BAQdAlD0S9P/WWffTzW+RrpOeBCcHrWj53pjpXM9A
/b6blkW0FW1pc2lsZSA8aUBtaXNpbGUueHl6PoiOBBMWCgA2FiEEQbbKyIW9DGaw
gQkwx76DsxNgW3cFAmX0ZpACGwMECwkIBwQVCgkIBRYCAwEAAh4FAheAAAoJEMe+
g7MTYFt3EegA/jX0esvjF661bOTGYb4uuWvvM6qeczDmKfbfwfyzdoX8AQD+OipY
r44XncRVirkFHeJoJEENYwUO3oo8MmFMHC+yBrg4BGX0ZpASCisGAQQBl1UBBQEB
B0B31/x4+wez0dwZtTOpa3KswoPckWktNKTJ2SZYpsSBBgMBCAeIeAQYFgoAIBYh
BEG2ysiFvQxmsIEJMMe+g7MTYFt3BQJl9GaQAhsMAAoJEMe+g7MTYFt3CCsBAJS1
J7Km9zM9UY45t0lJ/pc6FQMnkobuxqghZqLNdccyAQDE3nTOFrhuLGQDwS9P0RjK
dKlLiI7Ex3KOnMRwC004AQ==
=VYi/
-----END PGP PUBLIC KEY BLOCK-----`
}, {
  type: 'simplex-chat',
  value: 'https://simplex.chat/contact#/?v=2-5&smp=smp%3A%2F%2F1OwYGt-yqOfe2IyVHhxz3ohqo3aCCMjtB-8wn4X_aoY%3D%40smp11.simplex.im%2Fqv5sHfP_bdtNwBhPvLZmzoRHNPFHEhve%23%2F%3Fv%3D1-2%26dh%3DMCowBQYDK2VuAyEA2xaa16lHLMuwR8_o5E0mmrudLApZ2dh54RQoUfoofFc%253D%26srv%3D6ioorbm6i3yxmuoezrhjk6f6qgkc4syabh7m3so74xunb5nzr4pwgfqd.onion'
}]
---

<Base>
  <Fragment slot="head">
    <title>Contact</title>
    <script>
      import { atom } from "nanostores"
      import { queryId, nullVerify } from "@misile/satellite"

      const valueAtom = atom<string>("misile@duck.com")
      valueAtom.subscribe((v)=>{
        queryId("placeholder").innerText = v.slice(0, 4) + "..." + v.slice(-4)
      })
      queryId("placeholder").addEventListener("click", ()=>{
        navigator.clipboard.writeText(valueAtom.get())
        alert("Copied!")
      })
      queryId("select").addEventListener("change", (e)=>{
        valueAtom.set((nullVerify(e.target) as HTMLSelectElement).value);
      })
    </script>
  </Fragment>
  <div class="w-full h-screen flex flex-col items-center justify-center text-black font-bold text-xl lg:text-2xl md:text-4xl gap-y-2">
    <span>(Click to Copy)</span>
    <div class="flex flex-row gap-x-2 items-center">
      <select class="w-auto max-w-1/4 bg-white" id="select">
        {contacts.map((v)=>{
          return <option value={v.value}>{v.type}</option>
        })}
      </select>
      <span>-></span>
      <span class="text-blue" id="placeholder">None</span>
    </div>
  </div>
</Base>
