---
import Base from "../components/base.astro"

---

<Base>
  <Fragment slot="head">
    <title>Misile</title>
    <script>
      import { queryId } from "@misile/satellite"

      queryId("crypto").addEventListener("click", ()=>{
        navigator.clipboard.writeText("42VhRaWNzVxH3xzREovoarcAzJ4AFYFj26DK6nG8Hx3vB5ZzVWcZw2KEX4oWTyQStb7jz2sH8Gfzh9861SQb2gV4R4unT45")
        alert("Copied!")
      })
    </script>
  </Fragment>
	<div class="w-full h-full flex flex-row">
    <div class="w-full h-screen justify-center items-center flex flex-col">
      <div class="flex flex-col">
        <p class="text-4xl sm:text-6xl font-bold">Misile</p>
        <div class="flex flex-row w-fit h-fit text-2xl sm:text-4xl font-normal text-indigo-200 gap-x-4">
          <span>The</span>
          <span class="text-indigo-600">Python</span>
          <span>and</span>
          <span class="text-purple-600">AstroJS</span>
          <span>User</span>
        </div>
        <div class="flex flex-row w-fit h-fit text-xl sm:text-3xl font-normal text-indigo-200 gap-2">
          <a href="/projects">Projects</a>
          <span class="text-indigo-300">|</span>
          <a href="/en/blog">Blog</a>
          <span class="text-indigo-300">|</span>
          <a href="/contact">Contact</a>
          <span class="text-indigo-300">|</span>
          <a href="https://mail.misile.xyz">Subscribe</a>
        </div>
        <div class="flex flex-row gap-x-2 items-center text-sm sm:text-xl md:text-2xl lg:text-4xl text-indigo-200 cursor-pointer" id="crypto">
          <span>Donate</span>
          <p class="bg-gray-950 text-indigo-300 w-auto max-w-1/2">XMR</p>
          <span>(Click to Copy)</span>
        </div>
      </div>
    </div>
	</div>
</Base>
