---
import Content from "../../../components/content.astro";
---

<Content title="러스트로 OS 만들기" description="" date={1726424300} isnews={true}>
  <h1>GitHub 기본 OS 작성 자료</h1>
  <ul>
    <li><strong>프로젝트 개요</strong>: "Rust로 OS 작성하기"는 Rust를 사용하여 운영체제를 만드는 방법을 단계적으로 가르치는 레포지토리입니다.</li>
    <li><strong>레포지토리 정보</strong>: 이 프로젝트는 각 블로그 게시물에 해당하는 소스 코드가 포함된 여러 개의 브랜치를 포함하고 있습니다.</li>
    <li><strong>주요 다룬 주제</strong>: 포스트에서는 초기 Rust 바이너리 설정, 인터럽트 처리, 메모리 관리, 다중 작업 처리 기능을 포함하고 있습니다.</li>
    <li><strong>개발자 리소스</strong>: 빌드 지침과 개별 포스트의 소스 코드를 제공하는 Readme가 포함되어 있습니다.</li>
    <li><strong>라이선스 정보</strong>: Apache-2.0 및 MIT 라이선스 하에 제공되어 사용 및 수정에 대한 자유를 허용합니다.</li>
  </ul>
  
  <h1>해커 뉴스 토론 요약</h1>
  <ul>
    <li>사용자들이 Rust로 OS를 만드는 Phil Opp의 작업에 긍정적인 반응을 보이며, 교육적인 가치와 통찰력을 강조합니다.</li>
    <li>"MOROS" 및 "xv6" 등의 다른 OS 프로젝트 경험을 사용자들이 공유하며, 이들의 특징과 학습 가능성을 논의합니다.</li>
    <li>OS 개발의 복잡성, 보안 측면의 중요성과 효율적인 설계 필요성에 대한 대화가 진행됩니다.</li>
    <li>Rust 기반 OS 프로젝트의 지속적인 진화에 관심을 표명하며, 유용한 자료와 커뮤니티 이벤트를 공유합니다.</li>
  </ul>
  
  <h2>추가 자료</h2>
  <ul>
    <li><a href="https://os.phil-opp.com">Phil Opp의 블로그</a></li>
    <li><a href="http://moros.cc">MOROS 프로젝트</a></li>
    <li><a href="https://china2024.gosim.org/speakers#philipp-oppermann">GOSIM 컨퍼런스 정보</a></li>
  </ul>
</Content>
