---
import Content from "../../../components/content.astro"
---

<Content title="소셜 미디어 데이터와 AI 활용" description="" isnews={true} date={1727228772}>
  <ul>
    <li>사용자들의 소셜 미디어 데이터가 AI 기술에 사용됨</li>
    <li>LinkedIn, X(구 Twitter), Snapchat 등에서 사용자 데이터를 활용하는 방식 및 시점</li>
  </ul>

  <h1>플랫폼별 데이터 사용 및 접근 방식</h1>
  <ul>
    <li><strong>LinkedIn</strong>: 사용자 데이터 사용을 최소화할 규정을 설정할 수 있음</li>
    <li><strong>X(구 Twitter)</strong>: 사용자의 데이터에 기반한 설정 가능
      <ul>
        <li>그러나 AI 활용에 대한 구체적인 제약이 없음</li>
      </ul>
    </li>
    <li><strong>Snapchat</strong>: 'My Selfie' 기능 필요 시 AI 이용, 사용자가 개선할 수 있는 기회 제공</li>
    <li><strong>Reddit</strong>: 구현된 먀 접근이 다양한 사용자들 사이에 적절하지 않음</li>
    <li><strong>Meta</strong>: 규정에 따라 AI 활용에 대한 데이터 접근 저장 가능</li>
  </ul>

  <h1>사용자와의 신뢰 구축</h1>
  <ul>
    <li>사용자가 AI 기능이 필요할 경우 신뢰할 수 있는 구조 마련이 요구됨</li>
    <li>사용자들에게 설정에 대한 더 깊은 인사이트 제공 필요</li>
  </ul>
</Content>

