---
import Content from "../../../components/content.astro"
---

<Content title="페이팔은 사용자 모르게 데이터를 공유함" description="'개인 경험'을 위한 데이터 공유를 없애는 방법" isnews={true} date={1727837382}>
  <h1>PayPal 데이터 공유 및 개인화된 쇼핑</h1>
  <ul>
    <li>PayPal이 사용자를 무단으로 제3자와 데이터 공유에 동의하게 함</li>
    <li>"개인화된 쇼핑" 설정을 통해 사용자가 자신의 정보 공유를 관리 가능</li>
    <li>사용자는 PayPal 계정의 설정에서 해당 옵션을 조정해야 함</li>
  </ul>

  <h2>주요 내용</h2>
  <ul>
    <li>기본적으로 모든 사용자가 데이터 공유에 동의한 상태로 설정됨</li>
    <li>"11월 27일 이후 수집된 정보는 개인화된 쇼핑에 활용됩니다"라는 공지가 제거됨</li>
    <li>개인 정보 공유를 원하는 사용자는 PayPal 계정에 로그인 후 데이터 및 개인 정보 설정에서 해당 옵션을 변경 필요</li>
    <li>PayPal은 사용자가 동의하지 않으면 개인화된 쇼핑 경험을 위해 데이터를 공유하지 않겠다고 공지함</li>
    <li>사용자가 선택한 데이터 공유 정책은 제휴업체 및 판매자의 개인정보 처리방침에 따라 다르게 적용될 수 있음</li>
    <li>PayPal은 다른 플랫폼과 마찬가지로 고객에게 직접 통지하지 않고 서비스 약관을 변경한 사례가 있음</li>
  </ul>
</Content>

