---
import Content from "../../../components/content.astro"
---

<Content title="Binsider: ELF 바이너리를 터미널 안에서 분석" description="" isnews={true} date={1727837382}>
  <ul>
    <li>Binsider는 ELF 바이너리를 분석하는 도구입니다.</li>
    <li>정적 및 동적 분석을 지원하며, readelf 및 strace와 유사한 기능을 제공합니다.</li>
    <li>문자열 검사, 연결된 라이브러리 확인, 헥스 덤프 실행 등의 작업을 쉽게 수행할 수 있는 사용자 친화적인 터미널 사용자 인터페이스를 제공합니다.</li>
  </ul>

  <h1>주요 기능</h1>
  <ul>
    <li>강력한 ELF 바이너리 분석 도구</li>
    <li>사용하기 쉬운 인터페이스</li>
    <li>Rust와 Ratatui로 개발됨</li>
    <li>2024년 현재 v0.2.0 버전 출시</li>
  </ul>
</Content>

