---
import Content from "../../../components/content.astro"
---

<Content title="Mozilla의 엄청난 판단 실수로 uBlock Origin 개발자와 충돌 발생" description="" isnews={true} date={1727837382}>
  <h1>요약</h1>
  <ul>
    <li>Gorhill의 uBlock Origin에 대한 비판과 방어가 이어지고 있음.</li>
    <li>다른 광고 차단기와 비교하며 Gorhill이 판매한 적이 없다는 의견.</li>
    <li>Raymond와 uBlock의 긍정적인 영향에 대한 감사의 목소리.</li>
    <li>Mozilla 및 Google에 대한 불만, 특히 Manifest V3에 관한 비판.</li>
    <li>Brave 브라우저가 Firefox보다 낫다는 주장이 있지만 느린 성능 문제도 언급됨.</li>
    <li>Firefox 사용자의 감소 우려 및 Mozilla의 최근 결정에 대한 비판적인 시각.</li>
    <li>uBlock Origin의 유무가 Firefox 사용자에게 중요한 요소가 되고 있음.</li>
    <li>전체적으로 광고 차단과 웹 브라우저의 미래에 대한 논의가 활발하게 이루어짐.</li>
  </ul>

  <h2>주요 내용</h2>
  <ul>
    <li>논란: Gorhill과 Mozilla 간의 갈등.</li>
    <li>사용자의 의견: Mozilla의 결정은 사용자들에게 좋지 않은 영향을 미침.</li>
  </ul>
</Content>

