---
import Content from "../../../components/content.astro"
---

<Content title="메시지 앱의 안전성" description="" date={1728530816} isnews={true}>
  <ol>
    <li>텔레그램이 2018년부터 개인 정보를 법 집행 기관에 제공한 사실이 드러남</li>
    <li>Wickr는 호주에서 종료됨</li>
    <li>Signal은 법원의 명령에 따라 데이터를 제공함</li>
  </ol>

  <h2>안전한 메시징 애플리케이션 대안</h2>
  <ol>
    <li>Matrix/Element, Threema, Session, Wire, SimpleX와 같은 엔드 투 엔드 암호화 애플리케이션이 대안으로 언급됨</li>
    <li>이들 앱은 오픈 소스이거나 전부/부분적으로 오픈 소스이며, 전화번호나 이메일을 필요로 하지 않음</li>
  </ol>

  <h2>Signal의 데이터 제공 사례</h2>
  <ol>
    <li>Signal은 법원에서 요구한 정보 중 대략적인 메타데이터 외에는 사용자 대화 내용을 제공할 수 없음</li>
    <li>사용자가 설계한 개인 정보 보호 기능 덕분에 대부분의 데이터를 갖고 있지 않음</li>
  </ol>
</Content>

