---
import Content from "../../../components/content.astro"
---

<Content title="Plasma 6.2" description="" date={1728531110} isnews={true}>
  <ol>
    <li>Plasma 6.2는 더 친숙하고 접근성 높은 환경을 제공.</li>
    <li>디지털 아티스트를 위한 기능 추가: 드로잉 태블릿을 위한 교정 마법사와 테스트 모드</li>
    <li>색 관리 개선: Wayland 색 관리 프로토콜 지원, HDR 및 ICC 프로필 향상</li>
    <li>전원 관리 기능 향상: 애플리케이션의 잠자기 방해 방지 및 모니터 밝기 개별 조정</li>
    <li>Discover 앱 관리 툴 업데이트: PostmarketOS 패키지 지원 및 시스템 업데이트 후 종료 옵션 추가</li>
    <li>접근성 향상: 색맹 필터와 Wayland의 '스티키 키' 완전 지원</li>
    <li>UI/비주얼 디자인 개선: 시스템 트레이, 위젯 탐색기 및 대화 상자 통일.</li>
    <li>추가 기능: 날씨 위젯 개선, 사용자 아바타 설정 시 도구 통합 등.</li>
    <li>안정성 및 성능 개선: 더 많은 Wayland 프로토콜 추가 및 다양한 비주얼 변경.</li>
  </ol>

  <h1>댓글 요약</h1>
  <ol>
    <li>새로운 KDE Plasma 6.2를 Surface Go 3에서 Fedora 41 Beta로 원활하게 작동하고 있다고 보고함</li>
    <li>한 사용자는 필요한 시스템 사양에 대해 언급하며, 과거 Nokia N900에서도 KDE Plasma를 실행할 수 있었던 경험을 공유</li>
    <li>리눅스 색상 관리 개선에 대한 기쁨과 GTK의 감마 처리 문제를 지적함</li>
    <li>많은 사용자들이 KDE 팀에게 감사의 인사를 전하며, 이 훌륭한 데스크탑 환경을 사용할 수 있게 해준 것에 대해 고마워함</li>
    <li>OpenSUSE Tumbleweed에서 KDE Plasma가 출중히 작업하고 있다는 피드백</li>
    <li>기본 테마가 마음에 드는 사용자들이 있으며, 다크 모드로 여러 사용자들이 설정의 변화에 대해 공유함</li>
    <li>여러 사용자가 최신 출시 소식에 흥분하며, 앞으로의 기능 개선에 대한 기대감을 표명함</li>
    <li>VMware에서 화면 크기 조정 버그가 수정되기를 희망하는 의견도 있음</li>
  </ol>
</Content>
