---
import Content from "../../../components/content.astro"
---

<Content title="Qt 6.8" description="" date={1728534189} isnews={true}>
  <ol>
    <li><strong>출시 공지</strong>: Qt 6.8이 공식 출시되었으며, 데스크톱, 모바일 및 임베디드 플랫폼에 대한 새로운 지원이 포함됨</li>
    <li><strong>장기 지원</strong>: 이번 출시 버전은 장기 지원(LTS) 버전으로, 상업 사용자에게 5년간 지원을 제공함</li>
    <li><strong>새로운 기능</strong>: 몰입형 사용자 경험을 위한 XR 모듈 등 여러 중요한 모듈을 소개함</li>
    <li><strong>성능 개선</strong>: 수백 가지 개선 사항과 낮은 RAM 사용량을 포함하여 전체적인 성능 향상</li>
    <li><strong>툴 확장</strong>: 멀티 뷰 렌더링 및 GNOME Wayland와의 개선된 통합 기능을 포함함.</li>
  </ol>

  <h2>추가 리소스</h2>
  <ol>
    <li><a href="https://wiki.qt.io/Qt_6.8_Release">Qt 6.8 출시 - Qt 위키</a></li>
    <li><a href="https://m.youtube.com/watch?v=L_WJSnWEKI8">Qt 6.8 발표 영상 - 유튜브</a></li>
  </ol>

  <h1>댓글 요약</h1>
  <ol>
    <li><strong>fmbernardo</strong>: QGIS가 Qt6로 전환할지 궁금해하며, 현재 Qt5에서 Wayland의 버그로 고생하고 있음</li>
    <li><strong>flemtone</strong>: 업데이트에 흥미를 느끼지만 발표자의 수염 때문에 산만하다는 유머를 씀</li>
    <li><strong>mveinot</strong>: 소개 영상을 피하고 읽기로 선택함</li>
    <li><strong>didiliveitright</strong>: “Qt”의 발음이 “Queue Tee”가 아닌 “cute”라고 발견함</li>
  </ol>
</Content>
