---
import Content from "../../../components/content.astro"
---

<Content title="아무 브라우저를 들어가기" description="웹사이트 상호작용 없이" date={1726812819} isnews={true}>
  <h1>Arc 브라우저 취약점</h1>

  <ul>
    <li>Arc와 Firebase 관련 (CVE-2024-45489)</li>
    <li>사용자 인증 및 Firestore를 통한 것의 데이터 처리 문제</li>
    <li>원격 코드 실행 가능성 있음</li>
  </ul>

  <h2>공격 벡터</h2>
  <ul>
    <li><strong>Arc의 기능 확장</strong>
      <ul>
        <li>사용자가 Arc 부스트를 사용하여 웹사이트를 맞춤 설정하고 Firestore에 선호도를 저장</li>
        <li>부스트 생성자 ID 조작을 통해 무단 접근이 가능</li>
      </ul>
    </li>
    <li><strong>사용자 ID 악용</strong>
      <ul>
        <li>추천 및 공유를 포함한 여러 방법으로 사용자 ID 획득 가능</li>
        <li>ID를 획득한 후 피해자를 대상으로 악성 부스트 생성</li>
      </ul>
    </li>
  </ul>

  <h2>공격 실행</h2>
  <ol>
    <li>피해자의 사용자 ID 수집</li>
    <li>유해 페이로드를 포함한 악성 부스트 생성</li>
    <li>생성자 ID를 피해자 ID로 수정</li>
    <li>피해자가 목표 웹사이트를 방문하면 브라우저가 손상됨</li>
  </ol>

  <h1>보안 대응과 결과</h1>
  <ul>
    <li>보고된 취약점으로 $2,000 보상 지급</li>
    <li>24시간 내에 패치됨</li>
    <li>보안 취약점 조사 중 개인 정보 보호 정책과 모순되는 코드 발견</li>
  </ul>

  <h1>반응</h1>
  <h2>보안 취약점 우려</h2>
  <ul>
    <li>Arc 브라우저의 보안적 결함이 있는 주요 디자인에 대해 분노를 표현</li>
    <li>Firebase의 취약점에 대한 낮은 보상과 저조한 보안 조치를 비판함</li>
    <li>향상된 보안 프로토콜 및 책임 강화 요구</li>
  </ul>

  <h2>사용자 참여 통찰력</h2>
  <ul>
    <li>사용자가 픽셀 아트와 같은 기발한 기능에 대한 다양한 경험을 논의</li>
    <li>일부 사용자는 소프트웨어 디자인에서 접근성의 중요성을 강조</li>
    <li>사용자들이 개인 정보 문제를 발견하고 일부 소프트웨어를 스파이웨어로 묘사</li>
  </ul>

  <h2>브라우저 인기 및 시장 위치</h2>
  <ul>
    <li>Arc 브라우저의 실제 사용자 기반과 틈새 시장 매력에 대한 논쟁</li>
    <li>보안 위험에 대한 사용자 정보 및 경고 시스템 개선 제안</li>
    <li>소프트웨어 회사의 데이터 수집 관행에 대한 투명성을 요구함</li>
  </ul>
</Content>

