---
import Content from "../../../components/content.astro"
---

<Content title="미국의 도청을 위한 백도어를 중국이 해킹함" description="" date={1728536001} isnews={true}>
  <ol>
    <li>중국 해커들이 주요 미국 ISP(AT&T, Lumen, Verizon)의 시스템에 접근하여 도청을 위한 보안 백도어를 손상 시켰을 가능성이 있음</li>
    <li>이번 공격은 중국 국가안전부와 관련이 있으며, 'Salt Typhoon'이라는 그룹이 연관되어 있음</li>
    <li>전문가들은 이 침해가 중요한 위협을 나타내며, 네트워크에 대한 광범위한 접근을 제공한다고 경고하고 있음</li>
    <li>애플은 FBI의 아이폰 백도어 탑재 요청을 거부하며 해커들이 이용할 수 있는 취약점 생성을 반대해 왔음</li>
    <li>이번 사건은 애플의 입장을 더욱 부각시키며, 백도어는 보안을 위험에 빠뜨릴 수 있다는 점과 합법적 접근과 악의적 착취가 모두 가능하다는 점을 강조함</li>
  </ol>

  <h1>댓글 요약</h1>
  <ol>
    <li>이번 공격은 합법적인 도청을 위한 보안 뒷문을 악용하여, 애플이 백도어 탑재를 거부하는 이유를 강조함</li>
    <li>사용자들은 보안 위험에 대한 인식이 기술에 대해 알고 있는 사람들 사이에서 일반적이라는 의견</li>
    <li>일부 댓글은 당국이 애플에게 감시를 위해 백도어을 탑재하도록 압박한 이전 사례를 언급함</li>
    <li>EU의 백도어 의무화 법안에 대한 비판이 제기되며, 외국 정부에 의한 잠재적 남용으로부터 사용자 프라이버시를 보호할 필요성이 강조됨</li>
    <li>많은 사용자들은 보안 문제는 애플 하나에 국한되지 않고 보편적이라는 의견을 공유함</li>
  </ol>
</Content>
