---
import Content from "../../../components/content.astro"
---

<Content title="최근 파이어폭스의 방향" description="" date={1728536292} isnews={true}>
  <ol>
    <li>파이어폭스는 사용자 추적 관련 기능을 기본으로 활성화하여 사용자 신뢰를 저하시킴</li>
    <li>uBlock Origin Lite의 관리자들과의 갈등 발생</li>
    <li>사용자는 개인정보 보호 설정을 점검하고 있으며, 일부 사용자들이 '새로운 침입적 기능'에 대한 우려를 표출</li>
    <li>'탐색 데이터 및 쿠키 삭제' 메뉴가 단순화되어 상세한 데이터 삭제 옵션을 줄임</li>
  </ol>

  <h1>사용자 불만 사항</h1>
  <ol>
    <li>Mozilla가 광고 회사 인수, 사용자 데이터를 통해 수익을 얻으려는 의도로 여겨짐</li>
    <li>LibreWolf 같은 대안 브라우저를 추천하는 사용자 증가로 파이어폭스에 대한 불만 표출</li>
    <li>PPA(Privacy-Preserving Attribution) 기능의 사용 설명 미비로 인해 오해와 불신 증대</li>
    <li>개인 정보 침해를 우려하는 목소리도 있지만, 현재로서는 심각한 문제를 감지하지 못한 사용자들도 존재</li>
  </ol>
</Content>
