---
import Content from "../../../components/content.astro";
---

<Content title="WhatsApp의 보안 취약점" description="" date={1729329475} isnews={true}>
  <ul>
    <li>메타의 WhatsApp이 사용자의 운영 체제를 노출할 수 있음</li>
    <li>Zengo의 보안 연구자들이 발견한 새로운 취약점임</li>
    <li>메타는 이 문제를 인지하고 있으나 구체적인 수정 일정은 미제공</li>
  </ul>

  <h1>다중 디바이스와 메타데이터</h1>
  <ul>
    <li>WhatsApp의 다중 디바이스 설정 및 통신 중 전송되는 메타데이터 관리 방식에서 문제가 발생함</li>
    <li>각 디바이스에는 고유하고 지속적인 ID가 부여되고, OS마다 ID 구조가 다름</li>
  </ul>

  <h2>영향</h2>
  <p>해커가 악성 소프트웨어를 전파하는 데 있어, OS 식별을 통해 취약점을 알고 공격할 수 있음</p>

  <h1>WhatsApp 개인정보 우려에 대한 댓글 요약</h1>
  <ul>
    <li><bold>프라이버시 저하 우려</bold>: WhatsApp을 여전히 사용하는 사람들은 프라이버시를 기대하면 안 된다는 의견이 많음</li>
    <li><bold>사용 의무성</bold>: 일부 국가에서는 WhatsApp 사용이 필수적이며, 다른 메신저 앱을 사용할 의향이 없는 사용자들이 많음</li>
    <li><bold>암호화에 대한 신뢰</bold>: WhatsApp의 암호화가 여러 고위 프로파일 사건에서 무너지지 않았다는 언급 존재.</li>
    <li><bold>메타의 보안 문제</bold>: 최근 메타가 6억 개의 비밀번호를 평문으로 유출한 사건 언급되며, 여전히 메타를 신뢰하는 것이 바보 같다는 비판 존재.</li>
    <li><bold>사용자 의견</bold>: WhatsApp의 프라이버시 문제에 대한 다양한 사용자 의견의 배경으로, WhatsApp의 보안성에 대한 불안과 메타의 역할이 지적됨.</li>
  </ul>
</Content>
