---
import Content from "../../../components/content.astro";
---

<Content title="연령 인증이 모든 사람의 발언 및 개인 정보 보호를 위협함" description="" date={1729329475} isnews={true}>
  <ol>
    <li>EFF는 뉴욕 주의 'SAFE for Kids Act'에 반대하는 의견을 표명함</li>
    <li>연령 인증 요구사항이 개인의 프라이버시 및 자유표현 권리를 침해한다고 경고함</li>
    <li>현재 제안된 모든 연령 인증 방법은 프라이버시 보호 및 정확성이 부족하다는 점을 지적함</li>
  </ol>

  <h1>핵심 내용</h1>
  <ol>
    <li>어린이 보호를 위한 조치가 개인적인 정보 수집과 검열을 정당화하지 말아야함</li>
    <li>성인을 포함한 모든 사용자에게 법적 발언권을 침해하고 있다는 주장</li>
    <li>다양한 인증 방법들이 각기 다른 방식으로 위험할 수 있음을 강조함</li>
  </ol>

  <h1>댓글 요약</h1>
  <ol>
    <li><bold>암묵적 시간이 혼란스러움</bold>: 나이가 18세가 되면 모든 해가 끝난다는 듯한 생각은 왜곡된 사고방식</li>
    <li><bold>정부의 접근법 비판</bold>: 정부가 어린이를 위해 뭔가를 한다고 할 때, 그 의도는 결코 순수하지 않다는 것을 깨달아야함</li>
    <li><bold>주요 동향</bold>: 이러한 법안들이 점점 쌓여가면서 사람들은 불안감을 느낌</li>
  </ol>
</Content>
