---
import Content from "../../../components/content.astro"
---

<Content title="리눅스 유지보수자에서 러시아 개발자 제거" description="불투명하고 국적을 섣불리 단정 지은 행동" date={1730254753} isnews={true}>
  <ul>
    <li>Harald Welte는 리눅스 커널의 MAINTAINERS 파일에서 러시아 개발자를 제거한 최근 패치에 대해 유감을 표함</li>
    <li>이 결정의 투명성과 법적 근거 부족을 비판하며, 국적에 따른 차별 가능성을 제기함</li>
    <li>Welte는 개인의 기여가 고용주나 국적에 따른 것이 아니라 그 자체로 판단되어야 한다고 주장함</li>
    <li>역사적으로 집단적 처벌을 언급하며, 타인의 행동으로 개인을 처벌하는 것의 부당함을 강조함</li>
    <li>커뮤니티 내의 개방성과 개발자 간의 협력의 중요성을 강조함</li>
    <li>이러한 규제에 대한 광범위한 논의와 시민 불복종 필요성을 언급함</li>
    <li>지금의 상황이 그를 소외시키고 있으며, 이것이 현재 및 잠재적 기여자의 사기에 미치는 영향을 반성함</li>
  </ul>

  <h1>결론</h1>

  <ul>
    <li>이 조치는 과거 리눅스 커뮤니티의 포괄적인 가치에서 벗어나고 있음을 상징함</li>
    <li>모든 개발자에 대한 투명성과 지원이 협업 오픈 소스 프로젝트의 무결성을 위해 필수적임</li>
  </ul>

  <h1>댓글 요약</h1>

  <h2>Linus Torvalds의 소통 기술</h2>
  <ul>
    <li>개발자 제거 사유에 대한 명확한 소통 부족 비판</li>
    <li>법적 준수에 대한 더 나은 설명 필요성이 제기됨</li>
  </ul>

  <h2>제재에 대한 인식</h2>
  <ul>
    <li>정부의 행동으로 인해 개발자들이 처벌을 받아야 하냐는 논의가 있었음</li>
  </ul>

  <h2>기업의 영향</h2>
  <ul>
    <li>MAINTAINERS 파일에 기업이 포함된다는 주장에 대해 일부 사람들이 믿지 못하는 반응을 보임</li>
    <li>프로젝트의 무결성에 영향을 미치는 기업 자금 의존성에 대한 우려가 논의됨</li>
  </ul>

  <h2>상황에 대한 반응</h2>
  <ul>
    <li>국적에 따라 개발자에 대한 부당한 대우에 집단적으로 맞서야 한다는 필요성도 제기됨</li>
    <li>기여자가 자신의 지역 법률에 구속받아 자유롭게 참여하지 못하는 문제를 강조</li>
  </ul>

  <h2>감정적 영향</h2>
  <ul>
    <li>리눅스 커뮤니티의 현재 상태에 대한 실망감과 과거 협력 정신에 대한 아쉬움을 표현하는 감정적 반응이 있었음</li>
  </ul>
</Content>
