---
import Content from "../../../components/content.astro"
---

<Content title="에어프라이어가 당신을 중국에 넘길 수 있습니다." description="" date={1731078839} isnews={true}>
  <ul>
    <li>영국 소비자 단체 Which?는 스마트 기기가 비밀리에 데이터를 수집하고 제3자, 특히 중국과 공유할 수 있다고 경고합니다.</li>
    <li>테스트된 세 에어프라이어는 음성 녹음 권한을 요청했지만 그 이유는 명확하지 않았습니다.</li>
    <li>Xiaomi의 에어프라이어는 Facebook 및 TikTok과 같은 회사의 추적기와 연결되어 있었습니다.</li>
  </ul>

  <h1>발견 사항</h1>
  <h2>에어프라이어</h2>
  <ul>
    <li>테스트된 모든 모델이 음성 녹음 권한을 요청했습니다.</li>
    <li>일부 모델은 중국의 서버로 개인 데이터를 전송했습니다.</li>
  </ul>

  <h2>스마트 스피커</h2>
  <ul>
    <li>아마존 에코는 선택 해제 옵션을 제공하지만 기능을 위해 계정이 필요합니다.</li>
    <li>보스 홈 포터블은 최소한의 권한을 요구하지만 여러 추적기를 포함하고 있었습니다.</li>
  </ul>

  <h2>스마트 TV</h2>
  <ul>
    <li>사용자 위치 데이터가 필요하며, Facebook 및 Google과 같은 여러 추적기와 연결되어 있었습니다.</li>
  </ul>

  <h1>결론</h1>
  <ul>
    <li>이 연구는 스마트 기술 제조업체의 데이터 수집 관행에 대한 투명성 부족을 드러냈습니다.</li>
    <li>영국 정보 위원회(IO)에서는 이러한 문제를 해결하기 위한 지침을 2025년에 발표할 예정입니다.</li>
  </ul>

  <h1>댓글</h1>
  <ul>
    <li>많은 사용자가 에어프라이어와 같은 인터넷 연결 기기의 필요성에 의구심을 가집니다.</li>
    <li>많은 이들은 사물인터넷(IoT)이 감시 환경을 조성하며, 소비자들이 무의식적으로 자신의 감시 시스템을 구축하고 있다는 의견을 가집니다.</li>
  </ul>
</Content>
