---
import Content from "../../../components/content.astro"
---

<Content title="Bitwarden, GPL3로 라이센스 변경" description="" isnews={true} date={1731153891}>
  <ul>
    <li>Bitwarden은 소프트웨어 개발 키트(SDK)의 라이센스를 자체 라이센스에서 GPL3으로 전환했습니다.</li>
    <li>이 변경은 더 이상 자유로운 오픈 소스 소프트웨어(FOSS)가 아닌 것처럼 보였던 이전의 라이센스 오해에 대한 우려에 따른 것입니다.</li>
    <li>SDK의 재구성을 통해 사용자는 FOSS 코드만을 사용해 완전한 애플리케이션을 구축할 수 있게 되었으며, 이전의 패키징 문제를 해결했습니다.</li>
    <li>Bitwarden의 CTO는 새로운 내부 참조가 FOSS 라이센스에 엄격하게 따르는 별도의 리포지토리에서 온다고 언급했습니다.</li>
  </ul>

  <h1>댓글 요약</h1>
  <ul>
    <li><strong>사용자 감사</strong>: Bitwarden에 대한 사랑을 표현하며, 저렴한 프리미엄 플랜이 꽤 가치 있다고 강조했습니다.</li>
    <li><strong>프리미엄 기능에 대한 문의</strong>: 일부 사용자들은 프리미엄 버전이 제공하는 추가 기능에 대해 궁금해했습니다.</li>
    <li><strong>업데이트에 대한 낙관</strong>: GPL3로의 전환이 이전 업데이트와 같이 큰 주목을 받을 것이라는 희망을 표명했습니다.</li>
  </ul>
</Content>
