---
import Content from "../../../components/content.astro"
---

<Content title="Bitwarden, GPL3로 라이센스 변경" description="" isnews={true} date={1731153891}>
  <ul>
    <li>Bitwarden은 소프트웨어 개발 키트(SDK)의 라이센스를 자체 라이센스에서 GPL 버전 3으로 전환했습니다.</li>
    <li>이 변경은 소프트웨어가 더 이상 자유롭고 오픈 소스 소프트웨어(free and open-source software, FOSS)가 아닌 것처럼 보였던 이전의 라이센스 오해에 대한 우려에 따른 것입니다.</li>
    <li>이 조직은 개인 사용자들을 위해 기능이 완벽한 무료 버전을 유지할 계획이며, 오픈 소스 원칙에 대한 의지를 반영합니다.</li>
    <li>SDK의 재구성을 통해 사용자는 자유롭게 이용할 수 있는 코드만을 사용해 완전한 애플리케이션을 구축할 수 있게 되었으며, 이전의 패키징 문제를 해결했습니다.</li>
    <li>Bitwarden의 CTO는 새로운 내부 참조가 FOSS 라이센스에 엄격하게 따르는 별도의 리포지토리에서 온다고 언급했습니다.</li>
  </ul>

  <h1>댓글 요약</h1>
  <ul>
    <li><strong>사용자 감사:</strong> 많은 사용자들이 Bitwarden에 대한 사랑을 표현하며, 저렴한 프리미엄 플랜이 꽤 가치 있다고 강조했습니다.</li>
    <li><strong>프리미엄 기능에 대한 문의:</strong> 일부 사용자들은 프리미엄 버전이 제공하는 추가 기능에 대해 궁금해했습니다.</li>
    <li><strong>업데이트에 대한 낙관:</strong> 사용자들은 GPL3로의 전환이 이전 업데이트와 같이 큰 주목을 받을 것이라는 희망을 표명했습니다.</li>
    <li><strong>오픈 소스 지원:</strong> 댓글 작성자들은 이러한 변화를 중요하게 생각하며 보안과 신뢰성을 위한 오픈 소스 소프트웨어를 지원했습니다.</li>
    <li><strong>긍정적인 전망:</strong> 전체적으로, 댓글들은 Bitwarden의 보다 개방적인 라이센스 모델로의 전환에 대해 일반적으로 긍정적인 감정을 반영하며, 회사의 신뢰성에 대한 믿음을 나타냈습니다.</li>
  </ul>
</Content>
