---
import Content from "../../../components/content.astro"
---

<Content title="DataBreach.com: Have I Been Pwned의 대안" description="" isnews={true} date={1731154151}>
  <ul>
    <li>DataBreach.com은 개인정보 유출 여부를 확인하는 새로운 사이트입니다.</li>
    <li>Atlas Privacy에서 개발하였으며, 이메일 외에도 다양한 개인 정보를 확인할 수 있습니다.</li>
    <li>고급 검색 기능을 통해 이메일 주소, 전화번호, 사회 보장 번호 등을 확인할 수 있습니다.</li>
    <li>사용자 정보는 서버에 저장되지 않고 로컬에서 비교됩니다.</li>
    <li>유출된 정보가 발견되면 해당 사건에 대한 경고와 요약이 제공됩니다.</li>
    <li>무료 서비스로 제공되어 유저의 기본 정보 보호에 도움을 줍니다.</li>
    <li>기존 Have I Been Pwned 사이트와 차별화된 점은 더 다양한 정보 검색이 가능하다는 점입니다.</li>
  </ul>

  <h1>주요 기능 및 특징</h1>
  <ul>
    <li><strong>다양한 검색</strong>: 이름, 전화번호, 주소로 유출 여부 확인 가능.</li>
    <li><strong>사용자 정보 보호</strong>: 민감한 사용자 정보는 서버에 기록되지 않음.</li>
    <li><strong>사례 포함</strong>: 유출 사건의 세부 내용과 포함된 개인 정보 설명.</li>
    <li><strong>보안 문제의 인식 제고</strong>: 목표는 사용자에게 자신의 정보 보호 방법을 알리는 것.</li>
  </ul>

  <h1>댓글 요약</h1>
  <ul>
    <li>DataBreach.com은 Have I Been Pwned의 대안으로 긍정적으로 평가받고 있습니다.</li>
    <li>사용자들은 사이트 출현에 기대감을 보이며, 관리자에게 질문하기도 합니다.</li>
    <li>데이터 유출 소스에 대한 질문이 있으며, 관리자들은 Breachforums와 연구팀을 통해 데이터를 수집한다고 설명합니다.</li>
    <li>Atlas Privacy의 지원을 받으며, 수익화 계획은 없고 공공 서비스 도구로 운영됩니다.</li>
  </ul>
</Content>
