---
import Content from "../../../components/content.astro"
---

<Content title="macOS Spotlight는 당신을 감시하고 있습니다" description="" isnews={true} date={1733810763}>
  <ul>
    <li>분석 및 개선, Apple 광고, Siri 기능을 비활성화했더라도, Spotlight에서 "검색 개선"을 비활성화하지 않았다면 Apple에 검색 쿼리가 전송됩니다.</li>
    <li>Apple은 이러한 쿼리를 저장하고 제3자와 공유합니다.</li>
  </ul>

  <h1>댓글</h1>
  <ul>
    <li>사용자는 Spotlight 검색 위치를 제한하여 응용 프로그램 폴더로만 설정하는 것을 추천합니다.</li>
    <li>Little Snitch와 같은 방화벽 프로그램을 사용하여 원하지 않는 서비스의 인터넷 접근을 차단할 수 있습니다.</li>
    <li>모든 설정을 끄는 것이 너무 번거롭게 느껴지며, 하나의 버튼으로 모든 데이터를 Apple에 전송하지 않도록 할 수 있는 기능이 필요하다는 의견이 있습니다.</li>
    <li>기술적으로 이해하는 것이 최선의 개인정보 보호 방법이라고 주장하는 사용자도 있습니다.</li>
  </ul>
</Content>
