---
import Content from "../../../components/content.astro"
---

<Content title="경찰 수사에 대한 Tor의 방어" description="" isnews={true} date={1726820833}>
  <ul>
    <li>Tor 프로젝트는 법 진행 기관의 익명성 해제 보고에도 불구하고 지속적인 안정성을 보장함</li>
    <li>타이밍 분석이 익명성 해제를 위해 경찰 당국에 의해 사용되었으나, 이를 완화하는 방법 존재</li>
    <li>프로젝트는 취약점으로부터 보호하기 위해 최신 도구를 사용하는 것이 중요</li>
  </ul>

  <h1>법 집행 사례</h1>
  <ul>
    <li>독일 법 집행 기관이 타이밍 공격을 이용하여 불법 활동과 관련된 사용자를 식별했다는 보고 존재</li>
    <li>특정 사례에서는 Tor를 사용하는 인스턴트 메신저 앱(Ricochet)의 구버전이 사용되었고, 최신 보안 조치를 가지지 않았음</li>
  </ul>

  <h1>개선 및 과제</h1>
  <ul>
    <li>Tor 프로젝트는 2021년 이후 네트워크에 대한 최근 개선 사항을 강조하며 타이밍 공격이 더 여러워짐</li>
    <li>팀은 릴레이 다양성 및 중앙 집중화 문제와 같은 과제가 있음을 인정하며, 네트워크 보안을 더욱 강화하기 위한 커뮤니티의 지원을 요청함</li>
  </ul>
</Content>

