---
import Content from "../../../components/content.astro"
---

<Content title="Qualcomm DSP 드라이버의 보안 취약점" description="" isnews={true} date={1734616836}>
  <li>구글 프로젝트 제로의 세스 젠킨스가 작성한 블로그 포스트</li>
  <li>구글의 위협 분석 그룹(TAG)과 국제앰네스티가 제공한 익스플로잇 아티팩트 분석</li>
  <li>원래 아티팩트를 기반으로 2.5개월 동안 6개의 취약점을 발견</li>

  <h1>주요 발견</h1>
  <h2>아티팩트</h2>
  <li>수많은 커널 패닉 로그에서 얻은 정보</li>
  <li>여러 익스플로잇 샘플이 없다는 전제 하에 분석 진행</li>
  <li>메모리 손상이 감지되며 상태가 악화됨</li>

  <h2>판독 로그 분석</h2>
  <li><code>adsprpc</code> 드라이버에 취약점 집중</li>
  <li>메모리 악용을 목표로 하는 것으로 보임</li>
  <li>여러 호출 중 비정상적인 채널 ID 감지</li>

  <h2>취약점 시작 및 문제 발생</h2>
  <li>익스플로잇 과정에서 비정상적 패닉으로 인한 여러 종류의 크래시 발견</li>
  <li>다양한 함수들이 참여하여 보안 취약점이 드러날 가능성 존재</li>

  <h1>향후 연구</h1>
  <li>익스플로잇 로그 분석 이후 코드 리뷰 진행</li>
  <li>6개 취약점 발견, 그 중 첫 번째는 refcount 누수와 관련되어 있음</li>

  <h1>댓글 요약</h1>
  <li>구글의 연구 결과, adsprpc 드라이버에서 6개의 별도의 버그 발견</li>
  <li>두 개의 취약점(CVE-2024-49848 및 CVE-2024-21455)이 90일 내에 수정되지 않음</li>
  <li>대부분의 안드로이드 사용자(퀄컴 칩셋 사용)는 이러한 제로데이 공격에 취약할 수 있음</li>
  <li>퀄컴 칩셋과 드라이버 개발에 대한 신뢰 부족이 제기됨</li>
  <li>구글은 자신들의 칩셋과 드라이버 개발 가능성을 암시했을지도 모름</li>
  <li>모바일 통신의 복잡성과 RF 설계의 어려움, 법적 요구 사항 및 특허 문제 논의됨</li>
  <li>특정 칩셋 공급자의 패치 제공 부족에 대한 우려도 포함됨</li>
  <li>일부 사용자들은 Qualcomm 내부의 코드 품질 관리 문제에 대한 경험을 공유함</li>
  <li>Qualcomm이 문제 해결에 나서고 있다는 언급이 있었지만, 여전히 불만족스러운 상황이라는 의견이 많음</li>
</Content>
