---
import Content from "../../../components/content.astro"
---

<Content title="Microsoft 데이터 스크래핑 논란" description="" isnews={true} date={1734620486}>
  <ul>
    <li>Microsoft의 Word 및 Excel에서 사용자 콘텐츠가 AI 시스템 교육에 사용되는 것에 대한 우려 제기</li>
    <li>Microsoft는 고객 데이터가 LLM 교육에 사용되지 않는다고 부인</li>
    <li>‘연결된 경험’ 기능 기본 활성화로 사용자 동의의 경계 모호해짐</li>
  </ul>

  <h1>데이터 리스크와 사용자 선택</h1>
  <ul>
    <li>사용자는 “연결된 경험”을 비활성화하기 위해 복잡한 과정을 거쳐야 함</li>
    <li>Microsoft의 데이터 수집 방식에 대한 명확한 지침 부족</li>
    <li>사용자의 데이터 안정성을 위해 정기적으로 개인 정보 설정 검토 필요</li>
  </ul>

  <h1>기업의 투명성 필요성</h1>
  <ul>
    <li>Microsoft는 고객 데이터를 LLM 교육에 사용하지 않는다고 설명했지만 여전히 클라우드로 사용자 데이터를 전송</li>
    <li>소비자는 AI 중심의 시대에서 개인 정보 보호의 중요성을 인식해야 함</li>
    <li>AI를 통합하는 기업들은 사용자 동의 보호를 최우선으로 고려해야 함</li>
  </ul>

  <h1>Microsoft 데이터 스크래핑 여파</h1>
  <ul>
    <li>사용자 데이터를 클라우드로 전송하는 Microsoft의 정책에 대한 비판이 제기됨</li>
    <li>Microsoft의 내부 데이터 사용에 대한 책임이 없다는 우려</li>
    <li>Microsoft 제품에 대한 사용자 불만 및 대안 소프트웨어 선호 (예: LibreOffice)</li>
  </ul>

  <h1>댓글 요약</h1>
  <ul>
    <li>Microsoft의 변화가 불만스럽다며 구버전 소프트웨어를 고수하는 사용자 등장</li>
    <li>클라우드 기반 서비스에 대한 신뢰 부족</li>
    <li>더 나은 개인정보 보호를 위해 Linux로의 전환 고려하는 사용자들</li>
  </ul>
</Content>
