---
import Content from "../../../components/content.astro"
---

<Content title="GNOME 47 Release" description="GNOME 47: Denver" isnews={false} date={1727069343}>
  <h1>개요</h1>
  <ul>
    <li><strong>릴리즈 날짜</strong>: 2024년 9월 18일</li>
    <li><strong>이름</strong>: "Denver", GUADEC 2024 주최자 기념</li>
    <li><strong>주요 초점</strong>: 6개월 동안의 커뮤니티 기여</li>
  </ul>

  <h2>주요 기능</h2>
  <ul>
    <li><strong>액센트 색상</strong>: 사용자 인터페이스의 액센트 색상을 사용자화 가능</li>
    <li><strong>시스템 개선</strong>
      <ul>
        <li><strong>소형 화면 지원</strong>: 저해상도 디스플레이에 대한 아이콘 렌더링 개선</li>
        <li><strong>스크린캐스트 하드웨어 인코딩</strong>: 화면 녹화 성능 향상</li>
        <li><strong>지속적인 원격 데스크탑 세선</strong>: 연결이 끊긴 후에도 원격 세션이 원활하게 재시작 가능</li>
      </ul>
    </li>
  </ul>

  <h2>인터페이스 개선</h2>
  <ul>
    <li><strong>업데이트된 대화 상자</strong>: 시스템 및 앱 대화 창의 새 디자인</li>
    <li><strong>파일 앱 개선</strong>
      <ul>
        <li>새로운 탐색 기능 및 향상된 검색 기능</li>
        <li>파일 열기/저장 대화 상자가 일관되도록 재설계</li>
      </ul>
    </li>
  </ul>

  <h2>소프트웨어 및 애플리케이션</h2>
  <ul>
    <li><strong>웹 브라우저 개선</strong>: 새로운 자동 완성 기능, 재설계된 북마크 및 개인정보 보호 보고서</li>
    <li><strong>일정 앱 업데이트</strong>: 이벤트 처리 및 사용자 친화적인 디자인 변화</li>
  </ul>

  <h2>개발 및 커뮤니티</h2>
  <ul>
    <li><strong>GNOME Circle</strong> 도입: GNOME 커뮤니티에 새로운 앱을 환영</li>
    <li>GNOME 플랫폼 개선을 위한 추가 개발자 향상</li>
  </ul>
</Content>

