---
import Base from "../components/base.astro";
---

<Base>
  <Fragment name="head">
    <title>Dangling Point</title>
  </Fragment>
	<div class="bg-gray w-full h-full flex flex-row">
    <div class="w-full h-screen justify-center items-center flex flex-col bg-white">
      <div class="flex flex-col">

      </div>
    </div>
	</div>
</Base>
