---
import Base from "../../components/base.astro"
import Text from "../../components/text.astro"
---

<Base>
  <Fragment slot="head">
    <title>Theresa</title>
  </Fragment>
	<div class="w-full h-full flex flex-row">
    <div class="w-full h-screen justify-center items-center flex flex-col">
      <div class="flex flex-col">
        <Text><p class="text-black text-4xl sm:text-6xl font-bold">Theresa</p></Text>
        <div class="flex flex-row w-fit h-fit text-2xl sm:text-4xl font-normal text-gray gap-x-4">
          <Text><p>The open letter platform</p></Text>
        </div>
      </div>
    </div>
	</div>
</Base>
