---
interface Props {
  title?: string;
}
const {title = "Astro"} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/noa/f/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta http-equiv="onion-location" content="http://2vbh4msbvvbzo6wlzzsj3zeztjbh4fubh6h2lhqdh5xgpjs2hs7js2yd.onion/noa/f" />
    <slot name="head" />
	</head>
	<body>
    <slot />
	</body>
</html>