---
import Content from "../../../components/content.astro";
---

<Content title="The 'Password Restriction' failed" description="NIST confirmed" date={1727317837} isnews={false}>
  <a href="https://mastodon.social/@LukaszOlejnik/113193089731407165">Read this first, please</a>
  <h2>Miscallenous thing before say about important thing</h2>
  <ul>
    <li>The minimum password requirement is great. <span class="text-indigo-300">- Rule 1</span>
      <ul>
        <li>I personally uses 14 in bitwarden and greater than 100 in xkeepass on qubes os.</li>
      </ul>
    </li>
    <li>Verifier should change password when it looks like 'hacked' <span class="text-indigo-300">- Rule 6</span>
      <ul>
        <li>Verifier should opt-out protection because It might invade privacy</li>
        <li>Verifier should make public what data that use, how use.</li>
      </ul>
    </li>
    <li>No hint for anonymous, really good. <span class="text-indigo-300">- Rule 7</span></li>
    <li>I thinks Verifier <strong>should</strong> verify the entire password instead <span class="text-indigo-300">- Rule 9</span></li>
  </ul>

  <h2>The <strong><span class="text-2xl md:text-3xl">Limit the password</span></strong> Rule Removed <span class="text-indigo-300 text-2xl md:text-3xl">- Rule 2~5,8</span></h2>
  <ul>
    <li>The Korean company keeps make complexity on password (Please fix, please)
      <ul>
        <li>ex) The company that can trade stocks, Password must be <strong>less than 10</strong></li>
      </ul>
    </li>
    <li>Everyone supports ASCII, but please, please support unicode
      <ul>
        <li>I tired of disable unicode for invidual site on xkeepass password generator</li>
      </ul>
    </li>
    <li>Don't limit special character, don't use or use it, that's user's <strong>choice</strong></li>
    <li>Microsoft, I have all same answers on random question, please stop nonsense question</li>
  </ul>
</Content>
