---
import Content from "../../../components/content.astro";
---

<Content title="Linus, I have a different opinion." description="Open-source should be not political." date={1730809718} isnews={false}>
  <h1>Read this first</h1>
  <ul>
    <li><a href="https://lore.kernel.org/all/2024101835-tiptop-blip-09ed@gregkh">Patch that removes Russian</a></li>
    <li><a href="https://laforge.gnumonks.org/blog/20241025-linux-maintainers-russian">Post about above patch by laforge</a></li>
    <li><a href="https://www.reddit.com/r/linux/comments/1gcogt8/harald_welte_cocreator_netfilteriptable_and_free">A Reddit post about above post</a></li>
  </ul>

  <h1>The patch</h1>
  <p>I will say about only the first sentence.</p>
  <blockquote>
    <p>Remove some entries due to <strong>various compliance requirements.</strong></p>
  </blockquote>
  <p>Can we clarify what these <strong>various compliance requirements</strong> actually are?</p>
  <p>I think it's not enough explanation.</p>

  <h2>The political choice can ruin Linux user</h2>
  <p>Let's assume Russians made a compatibility of some hardware.</p>
  <p>Then he removed with one patch.</p>
  <p>Then who will maintain that?</p>
  <p><strong>That hardware user now has several problems because of one patch.</strong></p>

  <h2>Open-source should be not political</h2>
  <p>What about other global conflicts or countries in crisis?</p>
  <p>Do we need to say 'This country is alright, or not?' to America?</p>
  <p>If yes, now we don't maintain software, we just rely on America.</p>
  <p>It's not good definitely, and really.</p>

  <h1>You will say "You're loving Russian government"</h1>
  <p>And I'm not.</p>
  <p>I don't like the Russian government, Putin, and I want to support Ukraine.</p>
  <p><strong>but</strong>, why do Russians need to be removed because of the Russian government?</p>
  <p>I mean, look at them. They didn't commit any crimes; they just lived in and were born in Russia.</p>
  <p>and removed because of that?</p>

  <h1>Conclusion</h1>
  <p>I like open-source because so many different types of users can unite on one important thing, Code</p>
  <p>and now, it changed. To worse form.</p>
  <p>I want to say <strong>open-source should be not political.</strong></p>
</Content>
