---
import Content from "../../../components/content.astro";
---

<Content title="Linus, I have a different opinion." description="Open-source should be not political." date={1730809718} isnews={false}>
  <h1>Read this first</h1>
  <ul>
    <li><a href="https://lore.kernel.org/all/2024101835-tiptop-blip-09ed@gregkh">Patch that removes Russian</a></li>
    <li><a href="https://laforge.gnumonks.org/blog/20241025-linux-maintainers-russian">Post about above patch by laforge</a></li>
    <li><a href="https://www.reddit.com/r/linux/comments/1gcogt8/harald_welte_cocreator_netfilteriptable_and_free">A Reddit post about above post</a></li>
  </ul>

  <h1>The patch</h1>
  <p>The patch starts with this sentence.</p>
  <blockquote>
    <p>Remove some entries due to <bold>various compliance requirements.</bold></p>
  </blockquote>
  <p>Seriously, what is various compliance requirements?</p>
  <p>I think it's not enough explaination really.</p>
  <p>especially, when they just suddenly removed from maintainers, with one patch.</p>

  <h2>The political choice can ruins Linux user</h2>
  <p>Let's assume Russian made a compatibility of some hardwares.</p>
  <p>Then he disappears, with one patch.</p>
  <p>Then who will maintain that? <bold>That hardware user has now several problems because of one patch.</bold></p>

  <h2>Open-source should be not political</h2>
  <p>What if American like <a href="https://en.wikipedia.org/wiki/Edward_Snowden">Edward Snowden</a> maintains?</p>
  <p>Then just disappears in maintainers, because of America doesn't like it?</p>
  <p>It's not good definitely, and really.</p>

  <h1>You will says "You're loving Russian goverment"</h1>
  <p>and I'm not.</p>
  <p>I don't like Russian goverment, Putin, and I wants to support Ukraine.</p>
  <p><bold>but</bold>, why Russian needs to be removed because of Russian goverment?</p>
  <p>I mean, look them, They didn't any stupid things, criminal, they just lived in, born in Russia.</p>
  <p>and removed because of that?</p>

  <h1>Conclusion</h1>
  <p>I likes open-source because so many different types of user can unite on one important thing, Code</p>
  <p>and now, it changed. to worse form.</p>
  <p>I want to say <bold>open-source should be not political.</bold></p>
</Content>
