---
import Content from "../../../components/content.astro";
---

<Content title="Why I use simplex chat." description="— why I don't use other apps." date={0} isnews={false}>
  <p>I use SimpleX because, decentralized, no user ID, and other things.</p>
  <p>The features can find on <a href="https://simplex.chat/#features">website</a>, Instead, I'll talk about my opinion</p>
</Content>
