---
import Content from "../../../components/content.astro";
---

<Content title="c'est la vie to open-source maintainers" description="Humans can't be perfect, including you and me." date={1730809718} isnews={false}>
  <h1>Read this first</h1>
  <ul>
    <li><a href="https://marcan.st/2025/02/resigning-as-asahi-linux-project-lead">Resigning as Asahi Linux project lead</a></li>
    <li><a href="https://archive.md/uLiWX">Behold, a maintainer sabotaging the Rust for Linux project</a></li>
  </ul>
  
  <p>Recently, there has been drama in the Linux community.</p>
  <p>Almost everyone says someone is wrong, and someone is right.</p>
  <p>I don't think so.</p>
  <p>It's not simply black or white; it's a shade of gray.</p>
  
  <h1>Why calling Rust <strong><span>cancer</span></strong> was a mistake</h1>
  <p>Personally, I don't like Rust.</p>
  <p>It requires significant compile-time and RAM, along with other issues.</p>
  <p>But, Christoph Hellwig, seriously. Saying <strong><span>cancer</span></strong> is not a good idea to express your thoughts.</p>
  <p>Perhaps we can say Rust is not yet stable, or that we personally don't prefer it.</p>
  
  <h1>From Technical Discussions to <strong><span>SNS</span></strong></h1>
  <p>You are free to express your thoughts on SNS.</p>
  <p>However, bringing technical disputes to SNS isn't productive.</p>
  <p>Additionally, your approach is too aggressive.</p>
  <p>If the goal is to get maintainers to merge this code into Linux, you need to persuade other maintainers or Linus to merge it.</p>
  <p>Instead, you led to unnecessary conflict and distractions.</p>
  <p>Now, instead of focusing on the technical aspects, the discussion has turned into personal conflicts.</p>
  <p>It's a real mess.</p>
  
  <h1>Conclusion</h1>
  <p>I want to say this to Hector Martin, Linus Torvalds, Christoph Hellwig, and other open-source maintainers.</p>
  <p>Humans can't be perfect.</p>
  <p>Everyone makes mistakes.</p>
  <p>And we need to give feedback, instead of blaming.</p>
  <p>C'est la vie—imperfect and flawed.</p>
  <p>But we can make it better.</p>
  <p>Let's improve open-source by <a href="https://kind.engineering">bringing kindness into our discussions.</a></p>
</Content>
