---
import Content from "../../../components/content.astro";
---

<Content title="Thinking AI as children." description="How much data matters to AI?" date={1730809718} isnews={false}>
  <p>A common perspective is that artificial intelligence can't have empathy.</p>
  <p>This belief often stems from the observation that current models show low empathy.</p>
  <p>They also struggle with ethical issues, further reinforcing this perspective.</p>
  <p>One reason for these issues is the idea that bigger datasets always boost AI performance.</p>
  <p>But, it's not. It's not just about the quantity of data — it's about its <strong>quality</strong>.</p>

  <h1>So, what do we need to focus on?</h1>
  <p>We need to focus not on the size of the data, but on its <strong>quality</strong>.</p>
  <p>If we think of AI as a child, data becomes its teacher.</p>
  <p>Teachers don't teach everything that they know.</p>
  <p>But we teach artificial intelligence everything without checking if it is true.</p>
  <p>As a good teacher selects lessons with care, we need to curate the data we provide to AI.</p>

  <h1>Real-world example</h1>
  <p>
    <a href="https://hackernoon.com/testing-the-depths-of-ai-empathy-q1-2024-benchmarks">The emotional score analysis</a>,
    shows that Willow, based on GPT-3.5, has a higher score than GPT-4.
  </p>
  <p>Clearly, size is not everything.</p>

  <h1>Conclusion</h1>
  <p>As we raise AI, we become its parents.</p>
  <p>This role brings great responsibility.</p>
  <p>We must guide it wisely, beginning with the data we share.</p>
  <p>What we choose to teach them shapes who they become.</p>
</Content>