---
import Base from "../../../components/base.astro"
import Post from "../../../components/post.astro"
---

<Base>
  <Fragment slot="head">
    <title>Blog</title>
  </Fragment>
  <div class="flex flex-col justify-center items-center w-full h-screen gap-y-4">
    <div class="border-solid border-2 p-2 border-indigo-600">
      <h1 class="font-bold sm:font-normal sm:text-5xl">kr version is <a href="/ko/blog" class="text-indigo-500">here</a></h1>
    </div>
    {/*<Post title="Poems of a machine" description="Ethics for Artificial Intelligence" path={4} lang="en" />*/}
    <Post title="c'est la vie to open-source maintainers" description="Humans can't be perfect, including you and me." path={3} lang='en' />
    <Post title="Linus, I have a different opinion." description="Open-source should be not political." path={2} lang='en'/>
    <Post title="The 'Password Restriction' failed" description="NIST confirmed" path={1} lang='en'/>
  </div>
</Base>
