asgiref==3.7.2
Django==3.2.23
pytz==2020.5
sqlparse==0.4.4
php-wsgi
pyyaml==5.4.1
django-crispy-forms
gunicorn
django-heroku
whitenoise
django-allauth
Jinja2==2.11.3
python-etcd==0.4.5
urllib3==2.1.0
