---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <slot name="head" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="onion-location" content=`http://b723cfcf6psmade7vqldtbc332nhhrwy52wvka3afy5s5257pzbqswid.onion${Astro.url.pathname}`/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style is:global>
    @font-face {
      font-family: 'Iosevka';
      src: url('/fonts/Iosevka/Iosevka-Regular.woff2') format('Woff');
    }
    @font-face {
      font-family: 'SarasaMono';
      src: url('/fonts/SarasaMono/SarasaMonoK-Regular.ttf') format('truetype');
    }
    * {
      font-family: 'Iosevka', 'SarasaMono';
      word-break: break-all;
    }
    p, span, h1, h2, h3, h4, h5, h6 {
      width: fit-content;
      height: fit-content;
    }
    </style>
  </head>
  <body class="bg-white">
    <slot />
  </body>
</html>

