---
export interface Props {
  rewind?: boolean
}
let {rewind = false} = Astro.props;
Astro.response.headers.set('onion-location', `http://b723cfcf6psmade7vqldtbc332nhhrwy52wvka3afy5s5257pzbqswid.onion${Astro.url.pathname}`)
import "../styles/global.css"
---

<html lang="en">
  <head>
    <slot name="head" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style is:global>
    @font-face {
      font-family: 'Iosevka';
      src: url('/fonts/Iosevka/Iosevka-Regular.woff2') format('Woff');
    }
    @font-face {
      font-family: 'SarasaMono';
      src: url('/fonts/SarasaMono/SarasaMonoK-Regular.ttf') format('truetype');
    }
    * {
      word-break: break-all;
    }
    p, span, h1, h2, h3, h4, h5, h6 {
      width: fit-content;
      height: fit-content;
    }
    </style>
    {!rewind && <style is:global>* {font-family: 'Iosevka', 'SarasaMono';}</style>}
    {rewind && <style is:global> * {font-family: 'SarasaMono';}</style>}
  </head>
  <body class="bg-gray-950 text-indigo-100">
    <slot />
  </body>
</html>
