---
import dayjs from "dayjs"
import Base from "../components/base.astro"

export interface Props {
  title: string
  description: string
  date: number
  isnews: boolean
  rewind?: boolean
}
const {title, description, date, isnews, rewind = true} = Astro.props;
if (import.meta.env.PROD && date === 0) {throw Error("It is just draft.")}
---

<Base rewind={rewind}>
  <Fragment slot="head">
    <title>{title}</title>
  </Fragment>
  <div class="mx-2 md:mx-[20%] my-4">
    <div class="flex flex-col border-b-2 border-solid border-indigo-600 text-indigo-200">
      <h1 class="text-4xl md:text-5xl text-indigo-100">{title}</h1>
      <p class="text-gray text-3xl md:text-4xl">{description}</p>
      <p class="text-gray text-2xl md:text-3xl">{dayjs.unix(date).toString().replace('GMT', 'UTC')}</p>
      {isnews && <p class="text-gray text-xl md:text-2xl">Summarized with Jessica, based on gpt4o-mini</p>}
    </div>
    <slot />
  </div>
  <style is:global>
    @reference "tailwindcss/theme";

    h1 {
      margin-top: 1rem;
    }
    h1, h1 > strong > *, h1 > span {
      @apply text-3xl md:text-4xl;
    }
    h2, h2 > strong > *, h2 > span {
      @apply text-2xl md:text-3xl;
    }
    h3 {
      @apply text-xl md:text-2xl;
    }
    * {
      @apply md:text-xl;
    }
    a {
      @apply text-indigo-400;
    }
    ul {
      @apply list-disc pl-6 md:pl-0;
    }
    ol {
      @apply list-decimal pl-6 md:pl-0;
    }
    li > ul {
      @apply pl-4;
    }
    li > ol {
      @apply pl-4;
    }
    blockquote {
      @apply border-l-4 pl-2 border-solid border-gray-400;
    }
    code {
      @apply bg-indigo-400 text-white;
    }
  </style>
</Base>
