---
import Base from "../components/base.astro"
---

<Base>
  <Fragment name="head">
    <title>Template</title>
  </Fragment>
	<div class="w-full h-full flex flex-row">
    <div class="w-full h-screen justify-center items-center flex flex-col">
      <div class="flex flex-col">
        <p class="text-indigo-50 text-6xl font-bold">Template</p>
        <div class="flex flex-row w-fit h-fit text-4xl font-normal text-indigo-100">
          <span>The simple&nbsp;</span>
          <span class="text-indigo-500">Template</span>
        </div>
        <p class="text-red-400 text-3xl font-thin">Based on <span class="underline">minimalism</span></p>
      </div>
    </div>
	</div>
</Base>
