---
import Base from "../components/base.astro"
import Text from "../components/text.astro"
---

<Base>
  <Fragment name="head">
    <title>Animatified Minimalism</title>
  </Fragment>
	<div class="bg-gray w-full h-full flex flex-row">
    <div class="w-full h-screen justify-center items-center flex flex-col bg-white">
      <div class="flex flex-col">
        <Text><p class="text-black text-6xl font-bold">Animatified Minimalism</p></Text>
        <div class="flex flex-row w-fit h-fit text-4xl font-normal text-gray">
          <Text animationType="random"><span>Beyond&nbsp;</span></Text>
          <Text><span class="text-blue">Minimalism</span></Text>
        </div>
        <Text><p class="text-red text-3xl font-thin">This is red btw</p></Text>
      </div>
    </div>
	</div>
</Base>
