body { height: 4000px; }

.wrap {
    width: 400px;
    height: 350px;
    background-color: purple;
    position: relative;
}

.container {
    width: 300px;
    background-color: royalblue;
    position: relative;
}

.container .item {
    border: 4px dashed red;
    background-color: orange;
}

.container .item:nth-child(1) {
    width: 100px;
    height: 100px;
    z-index: 100px;
    position: relative;
    display: inline;
}

.container .item:nth-child(2) {
    width: 100px;
    height: 70px;
    position: absolute;
    left: 10px;
    top: 60px;
    z-index: 123;
    display: block;
}

.container .item:nth-child(3) {
    width: 70px;
    height: 130px;
    position: relative;
    display: inline-block;
}
