.container {
    background-color: royalblue;
    display: flex;
    width: 250px;
    height: 1000px;
    flex-wrap: wrap;
    align-content: end;
}

.container .item {
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 4px red dashed;
}
