<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ room }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
      const name = "{{ room }}";
      console.log(name);
      const w = new WebSocket("ws://" + window.location.host + '/ws')
      w.onmessage = function(t) {
        console.log(t);
        const d = document.getElementById("messages");
        const content = document.createElement("li");
        content.innerText = t["data"];
        d.appendChild(content)
      }
      w.onopen = function() {w.send(name)}
    </script>
  </head>
  <body>
    <form method="get">
      <label for="text">send</label>
      <input type="text" id="text" name="text" />
      <input type="hidden" name="room" value="{{ room }}">
    </form>
    <ul id="messages">
      {% for content in messages %}
        <li>{{ content }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
