---
import Base from "../../../components/base.astro"
import { type Post, f } from "./example"

import { nullValue } from "@misile/satellite/errors"
import { nullVerify } from "@misile/satellite"

let post: Post | null = null;

try {
  const slug = nullVerify(Astro.params.slug)
  post = nullVerify(f[slug])
}
catch (e) {
  if (e instanceof nullValue) {
    return new Response("Not found", { status: 404 })
  } else {
    throw e
  }
}
---

<Base>
  <Fragment slot="head">
    <title>{post.title}</title>
    <script>
      import { queryId } from "@misile/satellite"
      import { atom } from "nanostores"

      const email = atom<string>("");

      queryId("email").addEventListener("input", (e) => {
        email.set((e.target as HTMLInputElement).value)
      })
      email.subscribe((v)=>{
        queryId("email").innerText = v
      })
      queryId("confirm").addEventListener("click", () => {
        const emailValue = email.get()
        if (emailValue === "") {
          alert("Please enter your email")
          return
        }
        // I'll integrate with backend
      })
    </script>
  </Fragment>
  <div class="w-full h-full flex flex-row">
    <div class="w-full h-screen justify-center items-center flex flex-col px-2 sm:px-0">
      <div class="flex flex-col gap-y-2">
        <p class="text-black text-4xl sm:text-6xl font-bold">sign {post.title}</p>
        <div class="flex flex-row w-full gap-x-6 font-semibold text-2xl sm:text-4xl">
          <span class="whitespace-nowrap">email: </span>
          <input title="email" type="email" class="bg-white font-normal border-b-2 border-solid w-full break-words" id="email"/>
          <button class="whitespace-nowrap border-2 border-solid px-2" id="confirm">Confirm</button>
        </div>
        <p class="text-gray text-xl sm:text-3xl font-normal">
          If you want to sign without email, please <a href="/contact" class="text-blue">contact me with simplex</a>
        </p>
        {/* hcaptcha */}
      </div>
    </div>
	</div>
</Base>
