---
import Base from "../../../components/base.astro"
import { type Post, f } from "./example"

import { nullValue } from "@misile/satellite/errors"
import { nullVerify } from "@misile/satellite"

let post: Post | null = null;

try {
  const slug = nullVerify(Astro.params.slug)
  post = nullVerify(f[slug])
}
catch (e) {
  if (e instanceof nullValue) {
    return new Response("Not found", { status: 404 })
  } else {
    throw e
  }
}
---

<Base>
  <Fragment slot="head">
    <title>{post.title}</title>
  </Fragment>
  <div class="w-full h-full flex flex-col items-center justify-center">
    <div class="w-full h-full flex flex-row font-bold text-7xl justify-center py-[6%]">
      <div class="flex flex-col">
        {post.signers.map((signer) => {
          return <span class="font-bold inline-block">{signer.name}</span>
        })}
      </div>
      <div class="flex flex-col">
        {post.signers.map((signer) => {
          return <img src={signer.signature} alt="" class={`h-[1em] ${signer.signature!==undefined?"":"w-0"}`} />
        })}
      </div>
    </div>
	</div>
</Base>
