---
import Head from "../components/head.astro";
---

<Head>
  <script>
    import { map } from "nanostores";
    enum Type {
      sw = "소프트웨어과",
      security = "정보보호과",
      design = "콘텐츠디자인과",
      it = "IT경영과"
    }
    interface Date {
      start: number,
      end: number,
      manual: boolean
    }
    let name: string;
    let type: Type;
    let barcode: string;
    const date = map<Date>({
      start: 2023,
      end: 2026,
      manual: false
    });
    if (localStorage.getItem("name") !== null) {
      name = localStorage.getItem("name")!!;
      (document.getElementById("name")!! as HTMLInputElement).value = name;
    }
    if (localStorage.getItem("type") !== null) {
      type = Object.keys(Type)[Object.values(Type).indexOf(localStorage.getItem("type")!! as unknown as Type)] as Type
      (document.getElementById("type")!! as HTMLOptionElement).value = type
    }
    if ([localStorage.getItem("start"), localStorage.getItem("end")].indexOf(null) === -1) {
      date.set({
        start: Number.parseInt(localStorage.getItem("start")!!),
        end: 0,
        manual: false
      })
      date.setKey("end", Number.parseInt(localStorage.getItem("end")!!));
    }
    if (localStorage.getItem("barcode") !== null) {
      barcode = localStorage.getItem("barcode")!!;
      (document.getElementById("barcode")!! as HTMLOptionElement).value = barcode;
    }
    (document.getElementById("start")!! as HTMLInputElement).value = date.get().start.toString();
    (document.getElementById("end")!! as HTMLInputElement).value = date.get().end.toString();
    let pipe = true;
    date.subscribe((v)=>{
      if (pipe) {pipe = false;return}
      if (!v.manual) {
        (document.getElementById("end") as HTMLInputElement).value = (v.start + 3).toString()
        date.set({
          start: v.start,
          end: v.start + 3,
          manual: v.manual
        })
        pipe = true
      }
    })
    document.getElementById("start")?.addEventListener("change", (v)=>{
      date.setKey("start", Number.parseInt((v.target!! as HTMLInputElement).value))
    })
    document.getElementById("end")?.addEventListener("change", (v)=>{
      const vl = Number.parseInt((v.target!! as HTMLInputElement).value);
      if (vl === date.get().end) {return;}
      date.set({
        start: date.get().start,
        end: vl,
        manual: (v.target!! as HTMLInputElement).value !== ""
      })
    })
    document.getElementById("cancel")?.addEventListener("click", ()=>{
      location.href = window.location.origin;
    })
    document.getElementById("modify")?.addEventListener("click", ()=>{
      name = (document.getElementById("name") as HTMLInputElement).value;
      type = (document.getElementById("type") as HTMLOptionElement).value as unknown as Type;
      const barcode = (document.getElementById("barcode") as HTMLInputElement).value 
      if (name == "") {
        alert("값을 입력하지 않는 칸이 존재합니다.")
        return
      }
      if (barcode == "" && !confirm("바코드 번호를 입력하지 않았습니다.\n바코드 번호를 입력하지 않고 바코드를 끄거나,\n바코드 번호를 입력하고 바코드를 킬 수 있습니다")) {
        return
      }
      if (confirm(`당신의 정보가 맞습니까?\n이름: ${name}\n학과: ${Type[type as unknown as keyof typeof Type]}\n재학 기간: ${date.get().start}~${date.get().end}\n바코드 번호: ${barcode}`)) {
        localStorage.setItem("name", name)
        localStorage.setItem("type", Type[type as unknown as keyof typeof Type].toString());
        localStorage.setItem("start", date.get().start!!.toString())
        localStorage.setItem("end", date.get().end!!.toString())
        localStorage.setItem("barcode", barcode);
      }
      location.href = window.location.origin;
    })
  </script>
  <body>
    <div class="flex justify-center items-center w-screen h-screen bg-[#EEEEEE] text-[#222831] px-2">
      <div class="min-w-72 max-w-96 h-fit p-3 border-2 border-solid border-[#00ADB5] rounded-2xl gap-4 flex flex-col">
        <div class="flex flex-row gap-2">
          <h1 class="font-bold text-3xl flex-shrink-0">이름</h1>
          <input id="name" type="text" class="min-w-0 px-2 border-2 border-[#393E46] border-solid rounded-2xl bg-[#EEEEEE]" placeholder="나선린">
        </div>
        <div class="flex flex-row gap-2">
          <h1 class="font-bold text-3xl">학과</h1>
          <select id="type" class="bg-[#EEEEEE] border-solid border-2 border-[#393E46] px-2 rounded-2xl">
            <option value="sw">소프트웨어과</option>
            <option value="security">정보보호과</option>
            <option value="design">콘텐츠디자인과</option>
            <option value="it">IT경영과</option>
          </select>
        </div>
        <div class="flex flex-row gap-2">
          <h1 class="font-bold text-3xl whitespace-nowrap">재학 기간</h1>
          <input id="start" type="number" class="min-w-0 px-2 bg-[#EEEEEE] border-solid border-2 border-[#393E46] rounded-2xl">
          <div class="flex items-center justify-center"><p>~</p></div>
          <input id="end" type="number" class="min-w-0 px-2 bg-[#EEEEEE] border-solid border-2 border-[#393E46] rounded-2xl">
        </div>
        <div class="flex flex-row gap-2">
          <h1 class="font-bold text-3xl whitespace-nowrap">바코드 번호</h1>
          <input id="barcode" type="password" class="min-w-0 px-2 bg-[#EEEEEE] border-solid border-2 border-[#393E46] rounded-2xl">
        </div>
        <div class="flex flex-row w-full justify-center">
          <div class="flex flex-row gap-2">
            <button id="modify" class="border-2 border-solid border-black px-2 rounded-2xl">변경</button>
            <button id="cancel" class="border-2 border-solid border-red-500 px-2 rounded-2xl">취소</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</Head>
