---
import SolidPart from "../components/solidpart"
import Default from "../components/default.astro"
---

<Default>
  <script>
    import { path } from "../stores";
    import { query } from "@misile/satellite"

    path.set(new URLSearchParams(window.location.search).get("path") || "/");
    path.subscribe((v)=>{
      query("title").innerText = v
    })
  </script>
  <div class="w-screen h-screen bg-ctp-crust flex justify-center items-center">
    <div class="border-ctp-overlay0 border-solid border-2 w-fit h-fit flex flex-row gap-2 p-4 text-ctp-text">
      <SolidPart client:only="solid-js" />
    </div>
  </div>
</Default>
