---
import Default from '../components/default.astro'
import UploadSolid from "../components/uploadSolid"
---

<Default title="">
  <div class="w-screen h-screen bg-ctp-crust flex justify-center items-center">
    <div class="w-fit h-fit p-6 flex flex-row">
      <UploadSolid client:only="solid-js" />
    </div>
  </div>
</Default>
