select#selectenc {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  background-color: #2f2f2f;
  color: #f6f6f6;
  font-weight: bold;
  border: none;
}

button {
  width: 20%;
  margin: auto;
}

textarea {
  width: 70%;
}
